<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Abandoned Cart Email
 */
-->
<config>
    <sections>
        <amacart translate="label" module="amacart">
            <label>Abandoned Cart</label>
            <tab>amasty</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10203</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <amasty_information translate="label">
                    <label>Information</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>amacart/adminhtml_system_config_fieldset_info</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </amasty_information>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <customer_coupon translate="label">
                            <label>The coupon is available only for particular customer</label>
                            <comment><![CDATA[If the option is disabled the coupon can be used by all customers.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_coupon>
                        <only_customers translate="label">
                            <label>Send emails only to registered customers</label>
                            <comment/>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </only_customers>
                        <gdpr translate="label">
                            <label>Disable guest email logging for EU customers (GPDR compliance requirement)</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>amacart/adminhtml_system_config_gdpr</frontend_model>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gdpr>
                        <multi_rules translate="label">
                            <label>Allow triggering more than one rule per Cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </multi_rules>

                    </fields>
                </general>
                <template translate="label">
                    <label>Email Templates</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <name translate="label">
                            <label>Sender Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <email translate="label">
                            <label>Sender Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>
                        <cc translate="label">
                            <label>Sends copy of emails to</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cc>
                        <reply_to_name translate="label">
                            <label>Reply To Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reply_to_name>
                        <reply_to_email translate="label">
                            <label>Reply To Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reply_to_email>
                        <main_template translate="label">
                            <label>Main Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </main_template>
                    </fields>
                </template>

                <import>
                    <label>Import</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <blacklist translate="label">
                            <label>Import Blacklist</label>
                            <frontend_type>import</frontend_type>
                            <backend_model>amacart/source_import</backend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </blacklist>
                    </fields>
                </import>
                <debug>
                    <label>Debug (For Developers Only)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <debug_enable translate="label">
                            <label>Enable Debug Mode</label>
                            <comment><![CDATA[If the option is enabled module will be working without delay and only selected emails.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug_enable>
                        <debug_emails translate="label">
                            <label>Permitted Email Domains</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <comment><![CDATA[Comma separated email domains without @ symbol.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <debug_enable>1</debug_enable>
                            </depends>
                        </debug_emails>
                        <abandoned_gap_time translate="label">
                            <label>Abandoned Gap Time</label>
                            <validate>validate-not-negative-number</validate>
                            <comment><![CDATA[Time after which cart is abandoned. In seconds.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </abandoned_gap_time>
                    </fields>
                </debug>
                <log>
                    <label>Log</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <log_enable translate="label">
                            <label>Log Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log_enable>
                        <log_period translate="label">
                            <label>Log Storage Period</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>amacart/log_config_period</backend_model>
                            <validate>validate-not-negative-number</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log_period>
                        <show_log translate="label">
                            <label>Show Log</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>amacart/log</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_log>
                    </fields>
                </log>
<!--
                <quote>
                    <label>Quote</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <expires_on translate="label">
                            <label>Expires On</label>
                            <validate>validate-not-negative-number</validate>
                            <comment><![CDATA[In days.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </expires_on>
                    </fields>
                </quote>
-->
            </groups>
        </amacart>
    </sections>
</config>
